.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.buttonForm{
  background-color: rgb(33, 160, 239);
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  border: none;
}

/* XModal.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background: white;
  padding: 10px 90px;
  border-radius: 5px;
  text-align: center;
  width: 400px; /* Adjust the width as needed */
}

h4 {
  /* display: block; */
  margin-bottom: 1px;
}

input {
  width: calc(100% - 40px); /* Adjust the width as needed */
  padding: 8px;
  margin-bottom: 10px;
}

.submit-button{
  background-color: rgb(33, 160, 239);
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  border: none; /* Make the button full width */
}

/* .submit:hover {
  background-color: darkgreen;
} */


